.parent{
    display: flex;
    column-gap: 10px;
}
.child1{
    width: 33%;
    height: 100px;
    text-align: center;
}

.child2{
    width: 33%;
    height: 100px;
    text-align: center;
}

.child3{
    width: 33%;
    height: 100px;
    text-align: center;
}

.heading{
    text-align: center;

}

.title{
    text-align: left;
}

.getCenter{
    text-align: center;
}
.paddingDesc{
    padding-top: 80px;
}
